$navbar-default-bg: transparent;
$navbar-default-toggle-border-color: #ccc;
$navbar-default-toggle-hover-bg: transparent;
$navbar-default-toggle-icon-bar-bg: #ccc;
$navbar-default-link-active-bg: rgba(0,0,0,.3);
$navbar-default-link-active-color: #FFF;
