---
title: Code4Web - Software Development
---
<div class="container">
  <div class="cover text-center">
    <h1 class="cover-heading"><%= t('cover.title') %></h1>
    <p class="lead"><%= t('cover.body') %></p>
    <p class="lead">
      <a href="mailto:contato@code4web.com.br" class="btn btn-lg btn-primary grow">
        <%= t('cover.btn') %>
      </a>
    </p>
  </div>
</div>
